.coming-soon {
  position: relative;
  &:before,
  &:after {
    color: $white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  &:before {
    content: "Coming Soon";
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 2000;
    border-radius: 0.25rem;
    padding-bottom: 1rem;
  }
  &:after {
    background: transparent;
    z-index: 2001;
    padding-top: 2rem;
    font-size: 80%;
  }
  &.beta {
    &:after {
      content: "Support Existing Projects";
    }
  }
  &.alpha {
    &:after {
      content: "In Development";
    }
  }
}
