/*
  Footer styles
 */
.footer {
  height: 66px;
  background-color: color("dark");
  bottom: 0;
  position: fixed;
  width: 100%;
}

.router-status {
  line-height: 66px;
  color: #fff;
  float: right;
}

.router-status-label {
  color: color("light");
  float: right;
  padding: 0 10px;
  line-height: 66px;
}
