/*
  Header styles
 */

.app-header {
  background: #15283b;
  border-right: 1px solid rgba(0, 58, 112, 0.6) !important;
  position: relative;

  .app-logo {
    width: 50px;
  }

  .app-nav {
    img {
      width: 45%;
      margin-bottom: 0.4rem;
    }
  }
}
