.projectSidebar {
  flex: none !important;
  background: #131e29;
  color: #fff;
  margin: -24px 20px -44px -20px;
  width: 25%;
  min-height: 95vh;
}

.ListViewSectionHeader {
  background: #131e29 !important;
  color: #fff !important;
}

.ListViewFooter {
  // position: fixed;
  background: transparent;
}
