.projectSidebar {
  // flex: none !important;
  background: #131e29;
  color: #fff;
  // margin: -24px 20px -44px -20px;
  // width: 265px;
  // min-height: 95vh;
}
.ListViewSectionHeader,
.ListViewHeader {
  background: #131e29 !important;
  color: #fff !important;
}
.ListViewHeader {
  font-weight: 14px;
  font-weight: bold;
  align-items: center;

  h1 {
    // margin-left: 25px;
    color: #fff;
  }
}
.ListViewFooter {
  background: transparent;
}

.projectSidebar .ListViewRow {
  display: flex;
  align-items: left;
}
.projectSidebar .ListViewRow h3 {
  font-weight: 11px;
  color: #fff;
  margin-bottom: 0px;
}
.projectSidebar .ListViewRow p {
  font-weight: 9px;
  color: #fff;
  margin-bottom: 0px;
}
