/*
  Global styles and main container styles
 */

@import "common/variables";

// node modules
$fa-font-path: "~font-awesome/fonts";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// app styles
@import "common/globals";
@import "common/typography";
@import "common/layout";

@import "components/buttons";
@import "components/header";
@import "components/footer";
@import "components/sidebar";
@import "components/createProject";
@import "components/system-check";
@import "components/status";
