/*
  Global styles and main container styles
 */

@import "common/variables";

// node modules
$fa-font-path: "~font-awesome/fonts";
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

// app styles
@import "common/globals";
@import "common/typography";

@import "components/buttons";
@import "components/card";
@import "components/footer";
@import "components/header";
@import "components/sidebar";
@import "components/modals";

.wrap {
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
  flex-direction: column;
}
.Main {
  flex: 1;
  display: flex;
  margin-top: 60.5px;
}
.projectSidebar {
  flex: 0 0 25% !important;
}
.Content {
  flex: 1;
}
