version: 2
stages:
  build:
    macos:
      xcode: "9.0"

    environment:
      ARTIFACTS: /artifacts

    working_directory: ~/ddev-ui

    steps:
      - checkout

      - run:
          name: xquartz setup
          command: brew cask install xquartz  # dependency of wine

      - run: brew update && brew info --json=v1 node >/tmp/info.txt && brew info --json=v1 wine >>/tmp/info.txt

      - restore_cache:
          keys:
            - homebrew-v3-{{ checksum "/tmp/info.txt" }}
            - homebrew-v3-

      - run:
          name: Homebrew install of node/wine
          command: |
            brew install wine || true
            brew install node@8 || true
            brew unlink wine && brew link --overwrite wine
            brew unlink node && brew link --overwrite node

      - save-cache:
          key: homebrew-v3-{{ checksum "/tmp/info.txt" }}
          paths:
            - /usr/local/Cellar/node
            - /usr/local/Cellar/wine

      - run:
          name: Installed tool versions
          command: echo "git commit=$(make version) node version=$(node --version) npm version=$(npm --version) wine version=$(wine --version) HOME=$HOME USER=$(whoami) PWD=$PWD"

      - run: make clean all

      - run: make test

      - run:
          command: ./.circleci/generate_artifacts.sh $ARTIFACTS
          name: tar/zip up artifacts and make hashes

      - store_artifacts:
          path: /artifacts
          name: Artifact storage
