@import "./variables.scss";

/*
  Global application wide styles and fonts
 */
body {
  font-family: "Montserrat", sans-serif;
  background-color: $light;
  display: block !important;
}

.column {
  margin: 15px 0;
}

.h-10 {
  height: 10% !important;
}
.h-90 {
  height: 90% !important;
}

.coming-soon {
  position: relative;
  &:before {
    content: "Coming Soon";
    background: rgba($color: #000000, $alpha: 0.8);
    z-index: 2000;
    border-radius: 0.25rem;
    color: $white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
}
