@import "./variables.scss";

/*
  Global application wide styles and fonts
 */
body {
  font-family: "Montserrat", sans-serif;
  background-color: $light;
  display: block !important;
}

.column {
  margin: 15px 0;
}

::-webkit-scrollbar {
  display: none;
}
