@import "./variables.scss";

/*
  Global application wide styles and fonts
 */
body {
  font-family: "Montserrat", sans-serif;
  background-color: $light;
  display: block !important;
}

.column {
  margin: 15px 0;
}

.h-10 {
  height: 10% !important;
}
.h-90 {
  height: 90% !important;
}
