.app-container {
  height: calc(100vh - 87px);
  overflow: hidden;
  margin-top: 63px;
}

main.content,
.projectSidebar {
  overflow-x: hidden;
  overflow-y: auto;
}

.selectable-text {
  user-select: all;
}

.Window > div {
  flex-direction: column !important;
}

main.content {
  background-color: #fff;
  // position: relative;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
