$primary: #236192;
$light: #c5c5c5;
$dark: #23282b;
$red: #d80000;
$grey: #878787;
$transparentDarkGrey: rgba(100, 100, 100, 0.3);

$theme-colors: (
  primary: $primary,
  secondary: $grey,
  light: $light
);
