@import "../common/variables.scss";

/*
  Global application wide styles and fonts
 */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: $light;
  display: block !important;
}

::-webkit-scrollbar {
  display: none;
}
